*,*::before,*::after{
    box-sizing: border-box; 
    line-height: 1.5;
}

.container{
    max-width: 1200px;
}

body{
    font-family: Roboto, sans-serif;
}

h1{
    font-size: 64px;
}

h3{
    font-size: 48px;
    @include pad{
        font-size: 32px;
    }
}

h4{
    font-size: 24px;
    @include pad{
        font-size: 20px;
    }
}

p{
    font-size: 16px;
}

small{
    font-size: 14px;
}

.bg-cover{
    background-position: center center;
    background-size: cover;
}

.font-weight-bold {
    font-weight: 700 ;
}

.font-weight-medium{
    font-weight: 500 ;
}

ul,ol{
    list-style:none;
    padding: 0;
}

a{
    color: #000;
    text-decoration: none !important;
}

.d-lg{
    display: block;
}

.d-md{
    display: none;
}

.d-sm{
    display: none;
}

@media screen and (max-width: 960px){
    .d-lg{
        display: none;
    }
    .d-md{
        display: block;
    }
}

@media screen and (max-width: 768px){
    .d-lg{
        display: none;
    }
    .d-md{
        display: block;
    }
}

@media screen and (max-width: 375px){
    .d-lg{
        display: none;
    }
    .d-sm{
        display: block;
    }
}