
.header{
  background-image: url(../images/68.png);
  height: 840px;
  @include pad{
    background-image: url(../images/rwd/pad/index/68.png);
  }
  .container{
    margin: 0 auto;
    }
    .headerTitle{
      color: #650300;
      p{
        font-size: 36px;
      }
      h2{
        font-size: 64px;
      }
      @include pad{
        h2{
          font-size: 48px;
          padding-right: 48px;
        }
        p{
          font-size: 20px;
          padding-right: 48px;
        }
      }
    }
}

// 用專業的心，做專業的事
.content{
  background-color: #AA06010D;
  padding-top: 64px;
  padding-bottom: 80px;
.contentItems{
  padding: 0 50px;
}
  h3, h4{
    text-align: center;
    color: #650300;
  }
  p{
    text-align: left;
    font-weight: bold;
    @include pad{
      padding: 0 50px;
    }
  }
  img{
    width: 100px;
    height: 100px;
    margin-top: 60px;
    margin-bottom: 40px;
  }
  @include pad{
    img{
      width: 80px;
      height: 80px;
    }
  }
}

// 經典系列鏡框
.classic{
  img{
    width: 66%;
    @include pad {
      width: 60%;
    }
  }
  margin-top: 64px;
  .classicTitle{
    color: #650300;
    text-align: center;
    margin-bottom: 60px;
  }
  .productList{
    text-transform: uppercase;
    font-style: italic;
    color: #AA0601;
    li{
      display: flex;
    }
    li:nth-child(2n){
      flex-direction: row-reverse;
      @include pad{
        flex-direction: row;
      }
    }
  }
  .productSubtitle{
    margin: 0 8px;
    display: flex;
    align-items: center;
    @include pc{
      font-size: 28px;
    }
  }
}

// 聯名設計鏡框
.design{
  margin-top: 80px;
  background-image: url(../images/nick.png);
  height: 2162px;
  width: 100%;
  @include pc{
    background-image: url(../images/rwd/pad/index/nick.png);
  }
  @include pad{
    background-image: url(../images/rwd/phone/index/nick.png);
  }
  h3{
    padding-top: 64px;
  }
  .top{
    max-width:100%;
    justify-content: center;
    .topRight{
      img{
        max-width: 100%;
      }
    }
  }

  // 中間兩大張
  .imgMedium{
    justify-content: center;
  }
  .imgList{
    position: relative;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    .itemsContent{
      position: absolute;
      font-size: 72px;
      color: #AA0601;
      z-index: 1;
    }
    @include pc{
      .itemsContent{
        font-size: 32px;
      }
    }
  }
  .imgList-1{
    margin-right: 10px;
    img{
      max-width: 100%;
    }
  }

    .imgList-2{
      margin-left: 10px;
      img{
        max-width: 100%;
      }
  }

  
  .bg-white{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.5) !important;
    z-index: 1;
  }

  // 顧客推薦
  .recommend{
    .recommendList{
      display: flex;
      justify-content: center;
    }
    .recommendItems{
      padding: 0;
      margin: 0;
      @include pad{
        margin-bottom: 40px;
        // width: 50%;
      }
      @include pad{
        .cardList{ 
          width: 324px;
        }
      }
    }
    margin-top: 144px;
    h3{
      margin-bottom: 60px;
    }
    .cardList{
      margin: 0 15px;
      img{
        width: 100%;
        
      }
    }
    .card-body{
      border: 1px solid gray;
      background-color: #fff;
      @include pc{
          margin-bottom: 20px;
        }
    }
  }
}

// 聯絡我們
.contact {
  @include pad{
    margin-top: 100px;
  }
  background-color: #AA06010D;
  margin-top: 306px;
  .container {
    max-width: 792px;
    margin: 0 auto;
    padding: 64px 0 92px 0;
  .sectionTitle {
    margin-bottom: 24px;
    text-align: center;
    font-size: 48px;
    line-height: 72px;
    font-weight: bold;
  }

  .contactText {
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 30px;
  }

  input[type="text"], textarea {
    width: 100%;
    margin-top: 4px;
    margin-bottom: 16px;
    padding: 14px 16px;
    border: 1px solid #000;
    background-color: transparent;
  }

  textarea {
    resize: none;
    height: 136px;
  }

  ::placeholder, input[type="submit"], lebal {
    font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", "Microsoft JhengHei", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
  }

  input[type="checkbox"] + label {
    display: block;
    cursor: pointer;
    padding-left: 4px;
  }

  input[type="checkbox"] {
    display: none;
  }

  input[type=checkbox] + label::before {
    content: "\2714";
    border: 1px solid #000;
    border-radius: 10%;
    display: inline-block;
    width: 16px;
    height: 16px;
    padding: 1px 0 1px 3px;
    margin-right: 8px;
    color: transparent;
  }

  input[type="checkbox"]:checked + label:before {
    background-color: #AA0601;
    border-color: #AA0601;
    color: #fff;
  }

  .submit {
    margin-top: 42px;
    text-align: center;
  }

  input[type="submit"] {
    padding: 16px 58px;
    cursor: pointer;
    border: none;
    background: #AA0601;
    color: #FFF;
  }

  }
}