
.header{
  background-image: url(../images/68.png);
  height: 840px;
  @include pc{
    background-image: url(../images/rwd/pad/index/68.png);
  }
  @include phone{
    background-image: url(../images/rwd/phone/index/68.png);
    height: 394px;
  }

  .container{
    margin: 0 auto;
    }
    .headerTitle{
      color: #650300;
      p{
        font-size: 36px;
      }
      h2{
        font-size: 64px;
      }
      @include pc{
        h2{
        font-size: 48px;
        padding-right: 48px;
        }
        p{
          font-size: 20px;
          padding-right: 48px;
        }
      }
      @include phone{
        h2{
          font-size: 32px;
          padding-right: 12px;
        }
        p{
          font-size: 16px;
          padding-right: 12px;
        }
      }
    }
}

// 用專業的心，做專業的事
.content{
  background-color: #AA06010D;
  padding-top: 64px;
  padding-bottom: 80px;
.contentItems{
  width: 282px;
  padding: 0 37px;
  @include pad{
    width: 352px;
    margin: 0 auto;
  }
}
  h3, h4{
    text-align: center;
    color: #650300;
  }
  p{
    text-align: left;
    font-weight: bold;
    @include pc{
      padding: 0 37px;
    }
  }
  img{
    width: 100px;
    height: 100px;
    margin-top: 60px;
    margin-bottom: 40px;
  }

  @include pc{
    h3{
      font-size: 32px;
    }
    h4{
      font-size: 20px;
    }
    p{
      font-size: 16px;
    }
    img{
      width: 80px;
      height: 80px;
    }
  }
  @include phone{
    h3{
      font-size: 24px;
    }
  }
}

// 經典系列鏡框
.classic{
  margin-top: 64px;
  .classicTitle{
    font-size: 48px;
    font-weight: 700;
    color: #650300;
    text-align: center;
    margin-bottom: 60px;
  }
  .classItems{
    margin-bottom: 32px;
    display: flex;
    align-items: center;
  }
  .classicImg{
    img{
        max-width: 100%;
      }
    }
  .classIcon{
    max-width: 40%;
    display: flex;
    align-items: center;
    text-transform:uppercase;
    font-style: italic;
    font-weight: 700;
    color: #AA0601;
    margin: 0 24px;
    font-size: 48px;
  }
  @include pad{
    li:nth-child(2){
      flex-direction: row-reverse;
    }
    .classItems{
      display: flex;
      justify-content: center;
    }
    .classicImg{
      width: 410px;
    }
    .classIcon{
      display: flex;
      justify-content: center;
      width: 50%;
      font-size: 28px;
      img{
        height: 32px;
        width: 32px;
      }
    }
  }
  @include phone{
    .classItems{
      position: relative;
    }
    .classIcon{
      position: absolute;
      left: 25%;
      z-index: 1;
      color: #fff;
      .d-sm{
        display: block;
        color: #000;
      }
    }
  }
}



// 聯名設計鏡框
.design{
  margin-top: 80px;
  height: 2162px;
  background-image: url(../images/nick.png);
  h3{
    padding-top: 64px;
  }
  .top{
    padding: 0 150px;
    justify-content: center;
    .topLeft{
      img{
        max-width: 100%;
        height: auto;
        padding: 5px;
      }
    }
    .topRight{

      img{
        max-width: 100%;
        height: auto;
        padding: 5px;
      }
    }
  }
  // 中間兩大張
  .imgMedium{
    justify-content: center;
  }
  .imgList{
    position: relative;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    .itemsContent{
      position: absolute;
      font-size: 72px;
      color: #AA0601;
      z-index: 1;
    }
  }
  .imgList-1{
    margin-right: 10px;
    img{
      max-width: 100%;
    }
  }
    .imgList-2{
      margin-left: 10px;
      img{
        max-width: 100%;
      }
  }
  
  // 刷白
  .bg-white{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.5) !important;
    z-index: 1;
  }
  @include pc{
    padding: 0 48px;
    .imgList{
      width: 322px;
    }
    .imgList{
      .itemsContent{
        font-size: 32px;
      }
    }
  }
@include phone{
      padding: 0;
      .imgMedium{
        display: flex;
        flex-direction: column;
        align-items: center;
        .imgList-1{
          margin: 0 0 20px 0;
        }
        .imgList-2{
          margin: 0;
        }
      }
    }

  // 顧客推薦
  .recommend{
    .recommendList{
      display: flex;
      justify-content: center;
    }
    .recommendItems{
      padding: 0;
    }
    margin-top: 144px;
    h3{
      margin-bottom: 60px;
    }
    .cardList{
      margin: 0 15px;
      img{
        width: 100%;
        
      }
    }
    .card-body{
      border: 1px solid gray;
      background-color: #fff;
    }
  }
  @include pad{
    .recommend{
      margin-top: 24px;
    }
    .recommendItems{
      margin-bottom: 24px;
      max-width: 352px;
    }
  }
}

// 聯絡我們
.connection {
  padding: 15px;
  @include pc{
    margin-top: 100px;
  }
  background-color: #AA06010D;
  margin-top: 306px;
  .container {
    max-width: 792px;
    margin: 0 auto;
    padding: 64px 0 92px 0;
  .sectionTitle {
    margin-bottom: 24px;
    text-align: center;
    font-size: 48px;
    line-height: 72px;
    font-weight: bold;
  }

  .contactText {
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 30px;
  }

  input[type="text"], textarea {
    width: 100%;
    margin-top: 4px;
    margin-bottom: 16px;
    padding: 14px 16px;
    border: 1px solid #000;
    background-color: transparent;
  }

  textarea {
    resize: none;
    height: 136px;
  }

  ::placeholder, input[type="submit"], lebal {
    font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", "Microsoft JhengHei", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
  }

  input[type="checkbox"] + label {
    display: block;
    cursor: pointer;
    padding-left: 4px;
  }

  input[type="checkbox"] {
    display: none;
  }

  input[type=checkbox] + label::before {
    content: "\2714";
    border: 1px solid #000;
    border-radius: 10%;
    display: inline-block;
    width: 16px;
    height: 16px;
    padding: 1px 0 1px 3px;
    margin-right: 8px;
    color: transparent;
  }

  input[type="checkbox"]:checked + label:before {
    background-color: #AA0601;
    border-color: #AA0601;
    color: #fff;
  }

  .submit {
    margin-top: 42px;
    text-align: center;
  }

  input[type="submit"] {
    padding: 16px 58px;
    cursor: pointer;
    border: none;
    background: #AA0601;
    color: #FFF;
  }

  }
}
@include phone{
  .connection{
    margin-top: 900px;
  }
}