.bg-red{
    background: #AA0601;
}

.logo{
  margin-left: 88px;
}

.navItems{
    font-size: 20px;
}

.navList{
  padding: 30px 32px;
  &:hover{
  transition-duration: 0.5s;
  background-color: #650300;
  color: #fff;
  border-radius: 5px;
  height: auto;
  }
}

.phone, .mail{
    width: 40px;
    height: 40px;
    margin-right: 23px;
}

hr{
    border: none;
    height: 1px;
    background-color: #fff; 
}
