.bg-red{
    background: #AA0601;
}

.nav-link{
    font-size: 20px;
}

.phone, .mail{
    width: 40px;
    height: 40px;
    margin-right: 23px;
}

hr{
    border: none;
    height: 1px;
    background-color: #fff; 
}
