.bg-red{
  background-color: #AA0601;
  position: relative;
  }
  .logo{
    display: block;
    padding: 0 0 0 38px;
    @include phone{
      padding: 0;
      display: inline-block;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: 10px;
    }
  }
.humberMenu{
  display: none;
  @include phone{
    display: inline-block;
    height: 40px;
    width: 40px;
    margin: 16px 13px;
  }
}

.navList{
  display: flex;
  flex-wrap: wrap;
  float: left;
  li{
    padding: 40px 32px;
    &:hover{
      transition: all 0.5s;
      background-color: #650300;
      cursor: pointer;
    }
  }
  a{
    color: #fff;
  }
  @include phone{
    max-height: 0px;
    transition: max-height 1.3s;
    background-color: #AA0601;
    display: block;
    position: absolute;
    overflow: hidden;
    top: 70px;
    left: 0;
    right: 0;
    z-index: 1;
    li{
      text-align: center;
      border-top: 1px solid #FFF;
      padding: 16px 0;
    }
    a{
      font-size: 20px;
    }
  }
}

.menuShow{
      max-height: 500px;
    }

.phone, .mail{
  height: 36px;
  width: 36px;
  margin-right: 20px;
  @include pc{
    width: 32px;
    height: 32px;
  }
}

hr{
    border: none;
    height: 1px;
    background-color: #fff; 
}

@include phone{
  .footerMenu{
    display: none;
  }
}

.footerInfo{
  display: flex;
  align-items: center;
  .footerLogo{
    margin-right: 10px;
  }
  .footerText{
    small{
      margin: 0 10px 0 0;
    }
  }
}

@include phone{
  .footerInfo{
    small{
      display: block;
      }
      flex-direction: column;
      align-items: start;
    }
    .col-3{
      flex-direction: column;
      small{
        margin-bottom: 5px;
      }
    }
  }
    