
.jumbotronBg{
  background-image: url(../images/72.png);
  min-height: 304px;
  @include pad{
    background-image: url(../images/rwd/phone/store/72.png);
    h1{
      font-size: 48px;
    }
  }
  h1{
    margin-right: 24px;
  }
}

.location{
  margin-top: 22px;
}
label{
  font-size: 24px;
}
.locationList{
  padding: 10px 20px;
  width: 266px;
  margin-left: 22px;
}

.storLoc{
  margin-top: 32px;
}

.storeItems{
  border-top:  none;
  width: 32%;
  padding: 0 12px;
  .storeImg{
    width: 100%;
  }
}

.storeList{
  border-top: 1px solid #00000020;
  .storeInfo{
    margin-bottom: 8px;
  }
}

.info{
  font-size: 20px;
  background-color: #000;
  color: #fff;
  padding: 20px 0;
}