//sunglasses 的 SCSS
.sunglassesModel{
  width: 80%;
  font-size: 24px;
}
.sunglassesPrice{
  width: 80%;
  margin-bottom: 4px;
  font-size: 24px;
}

.productItems{
  max-width: 35%;
  margin-bottom: 104px;
  img{    
    max-width: 100%;
  }
}