//sunglasses 的 SCSS
.d-sm{
  display: none;
}
.glassesContent{
  @include pc{
    max-width: 42rem;
  }
}

.sunImg{
  img{
    max-width: 100%;
    height: auto;
  }
}

.topMenu{
  img{
    width: 48px;
    height: 48px;
    @include pc{
      width: 32px;
      height: 32px; 
    }
  }
  
}


.sunglassesModel{
  width: 80%;
  font-size: 24px;
}
.sunglassesPrice{
  width: 80%;
  margin-bottom: 4px;
  font-size: 24px;
}

.productItems{
  margin-bottom: 104px;
  img{
    max-width: 100%;
  }

}